<rsc-page-structure title="My Place">
    <div *ngIf="itemList" class="itemList">
        <mat-card *ngFor="let item of itemList">
            <img mat-card-image src="../../../assets/img/generic-company/chris-lawton-236413-unsplash_tn.jpg" />
            <mat-card-title>{{ item.value.name }}</mat-card-title>
            <mat-card-subtitle>Associated company</mat-card-subtitle>
            <mat-card-content>
                <p>Last used july</p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button [routerLink]="['/', item.id]">Enter</a>
                <button mat-button>Book</button>
                <button mat-button>Dismiss</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div *ngIf="!itemList">
        Loading
    </div>
</rsc-page-structure>
