// .mat-sidenav-content {
//   overflow-y: scroll;
// }

// div.structure-container {
//     display: flex;
//     /* lay items out vertically */
//     flex-direction: row;
//     /* make sure it's at least as tall as the viewport */
//     height: 100vh;
//     background-color: aqua;
//     align-items: stretch;

//     .scrollable {
//         flex: 1 1 auto;
//         overflow: auto;
//     }
// }
div.main-container {
    height: 100vh;
    flex-direction: column;
    div.structure-container {
        flex-grow: 1;
        div.scrollable {
            overflow: auto;
        }
    }
}
