/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    display: flex;
    /* lay items out vertically */
    flex-direction: column;
    /* make sure it's at least as tall as the viewport */
    min-height: 100vh;
    margin: 0px; /*removes default style*/
}
