<rsc-header-bar></rsc-header-bar>
<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-toolbar color="secondary">
            <h1>Welcome to sharing resources applications</h1>
        </mat-toolbar>
        <div class="mainContent">
            <mat-card class="what-we-offer">
                <mat-card-title>What do we offer</mat-card-title>
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque justo est, porttitor eget
                        augue eu, ornare sodales magna. Curabitur hendrerit ante et massa gravida, ac fermentum dolor
                        bibendum. Nulla imperdiet auctor ligula, nec porta urna auctor non. Duis porttitor, massa nec
                        pretium cursus, magna erat vehicula mi, id consectetur nisi tellus quis ante. Morbi eget urna
                        quis augue viverra rhoncus sed non enim. In bibendum imperdiet odio, sit amet mollis augue
                        viverra ut. Sed quis tortor ex.
                    </p>
                    <p>
                        Maecenas lobortis hendrerit massa et luctus. Vivamus at diam eget quam bibendum scelerisque
                        interdum id felis. Vivamus porttitor diam magna. Fusce ipsum turpis, mollis sit amet ultrices
                        sed, dictum porttitor sapien. Donec vulputate id magna vel sollicitudin. Donec accumsan dui
                        justo. Integer sem sem, efficitur vitae pharetra at, feugiat tempor ligula.
                    </p>
                    <p>
                        Aliquam erat volutpat. Nam pharetra euismod mi. Ut varius, nisi non egestas efficitur, sem
                        lectus placerat augue, sollicitudin tempor neque nisl vitae odio. Ut ex elit, auctor nec
                        pharetra dictum, porta a urna. Donec ut augue accumsan, semper quam ac, hendrerit mauris. Cras
                        congue risus quis dolor interdum, sit amet efficitur sapien tristique. Donec non posuere purus.
                        Nam consectetur sodales risus at ultricies. Cras et finibus nibh, sit amet dignissim felis. In
                        aliquet arcu lacus, a gravida augue fringilla sit amet. Curabitur egestas rutrum elementum.
                        Pellentesque dapibus libero libero, eget tempus leo cursus sit amet. Pellentesque finibus nunc
                        at eleifend egestas.
                    </p>
                </mat-card-content>
            </mat-card>
            <div class="second-row">
                <mat-card class="what-advantages">
                    <mat-card-title>What are the advantages</mat-card-title>
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque justo est, porttitor
                            eget augue eu, ornare sodales magna. Curabitur hendrerit ante et massa gravida, ac fermentum
                            dolor bibendum. Nulla imperdiet auctor ligula, nec porta urna auctor non. Duis porttitor,
                            massa nec pretium cursus, magna erat vehicula mi, id consectetur nisi tellus quis ante.
                            Morbi eget urna quis augue viverra rhoncus sed non enim. In bibendum imperdiet odio, sit
                            amet mollis augue viverra ut. Sed quis tortor ex.
                        </p>
                        <p>
                            Maecenas lobortis hendrerit massa et luctus. Vivamus at diam eget quam bibendum scelerisque
                            interdum id felis. Vivamus porttitor diam magna. Fusce ipsum turpis, mollis sit amet
                            ultrices sed, dictum porttitor sapien. Donec vulputate id magna vel sollicitudin. Donec
                            accumsan dui justo. Integer sem sem, efficitur vitae pharetra at, feugiat tempor ligula.
                        </p>
                        <p>
                            Aliquam erat volutpat. Nam pharetra euismod mi. Ut varius, nisi non egestas efficitur, sem
                            lectus placerat augue, sollicitudin tempor neque nisl vitae odio. Ut ex elit, auctor nec
                            pharetra dictum, porta a urna. Donec ut augue accumsan, semper quam ac, hendrerit mauris.
                            Cras congue risus quis dolor interdum, sit amet efficitur sapien tristique. Donec non
                            posuere purus. Nam consectetur sodales risus at ultricies. Cras et finibus nibh, sit amet
                            dignissim felis. In aliquet arcu lacus, a gravida augue fringilla sit amet. Curabitur
                            egestas rutrum elementum. Pellentesque dapibus libero libero, eget tempus leo cursus sit
                            amet. Pellentesque finibus nunc at eleifend egestas.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="how-much-it-custs">
                    <mat-card-title>How much it custs</mat-card-title>
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque justo est, porttitor
                            eget augue eu, ornare sodales magna. Curabitur hendrerit ante et massa gravida, ac fermentum
                            dolor bibendum. Nulla imperdiet auctor ligula, nec porta urna auctor non. Duis porttitor,
                            massa nec pretium cursus, magna erat vehicula mi, id consectetur nisi tellus quis ante.
                            Morbi eget urna quis augue viverra rhoncus sed non enim. In bibendum imperdiet odio, sit
                            amet mollis augue viverra ut. Sed quis tortor ex.
                        </p>
                        <p>
                            Maecenas lobortis hendrerit massa et luctus. Vivamus at diam eget quam bibendum scelerisque
                            interdum id felis. Vivamus porttitor diam magna. Fusce ipsum turpis, mollis sit amet
                            ultrices sed, dictum porttitor sapien. Donec vulputate id magna vel sollicitudin. Donec
                            accumsan dui justo. Integer sem sem, efficitur vitae pharetra at, feugiat tempor ligula.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
