<mat-toolbar color="primary">
  <span>My Application</span>
  <span class="fill-remaining-space"></span>
  <button mat-button *ngIf="security.isLogged" [routerLink]="['/me']">
    {{ security.currentUser.displayName }}
    <img [src]="security.currentUser.photoURL" style="height:30px" />
  </button>
  <a mat-button mat-icon-button *ngIf="security.isLogged" (click)="doSignOut()">
    <mat-icon>work_outline</mat-icon>
  </a>
  <button mat-button *ngIf="!security.isLogged" [routerLink]="['/me']">
    SignIn
  </button>
</mat-toolbar>
