.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

h1 {
  cursor: pointer;
}

.mat-toolbar {
  height: 56px;
  border-bottom: 1px solid black;
  width: 100%;
}
