<mat-toolbar color="primary">
    <h1 [routerLink]="['/']">Scheduler</h1>
    <button mat-button *ngIf="info && info.isLoggedIn" [routerLink]="['/me']">
        My Place
    </button>
    <span class="fill-remaining-space"></span>
    <button mat-button *ngIf="info && !info.isLoggedIn" [routerLink]="['/me']">
        SignIn
    </button>
    <button mat-button [matMenuTriggerFor]="appMenu" *ngIf="info && info.isLoggedIn">
        {{ info.displayName }}
        <img [src]="info.photoURL" style="height:30px" />
    </button>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item (click)="doSignOut()">Signout</button>
    </mat-menu>
</mat-toolbar>
